.app {
  text-align: center; }

.app-header {
  background-color: #222;
  padding: 20px;
  color: white; }

.app-title {
  font-size: 1.5em; }

.gallery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.gallery-image {
  margin: 12px; }
  .gallery-image:hover {
    cursor: pointer; }
