button:focus {
  outline: none; }

.app {
  text-align: center;
  font-family: 'Open Sans', sans-serif; }

.app-header {
  background-color: #222;
  padding: 20px;
  color: white; }

.app-title {
  font-size: 1.5em; }

.page-title {
  color: #222222;
  border: 2px #adacac solid;
  width: 350px;
  margin: 0 auto 50px;
  padding: 30px;
  font-size: 27px;
  font-weight: 300; }

.page-title-second-line {
  margin: 0; }

.page-title-long {
  width: 500px; }

.page-menu {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #e0e0e0; }
  .page-menu .nav {
    color: #828181; }
  .page-menu .active {
    background: #c7c7c7;
    color: #222222; }

.nav {
  padding: 14px 25px;
  text-decoration: none; }

.project-section {
  background: #e0e0e0;
  width: 90%;
  padding: 40px;
  border: 1px #adacac solid;
  margin: 20px auto; }

.gallery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.gallery-image {
  margin: 12px; }
  .gallery-image:hover {
    cursor: pointer; }

.icon-section {
  background: #c7c7c7;
  display: flex;
  justify-content: flex-end;
  height: 100px;
  padding-right: 30px;
  margin-bottom: 60px; }

.technology-icon {
  width: 50px;
  margin: 0 20px; }

.react-icon {
  width: 60px; }

.router-icon {
  width: 70px; }

.sass-icon {
  width: 65px;
  margin: 0 10px 0 20px; }

.git-icon {
  width: 90px; }

.html-icon {
  width: 60px; }

.css-icon {
  width: 60px; }

.repository-button {
  height: 50px;
  width: 180px;
  font-size: 17px;
  background: none;
  border: #a6cbd8 2px solid;
  color: #758e96;
  margin-bottom: 30px; }
  .repository-button:hover {
    background: #0696a5;
    color: #f5f5f5;
    cursor: pointer; }

.repository-button-left {
  margin-right: 20px; }

.repository-button-right {
  margin-left: 20px; }
