.batman-image, .headcount-image, .movie-tracker-image {
  background-repeat: no-repeat;
  background-size: 540px;
  height: 300px;
  width: 540px;
}

.batman-image {
  background-image: url('../../../assets/design/batman/batman-cover.svg');
}


@media screen and (max-width: 400px) {
  .hyperspace-image, .headcount-image, .movie-tracker-image {
    background-repeat: no-repeat;
    background-size: 320px;
    height: 180px;
    width: 320px;
  }
}
