.contact-icon-and-info {
  background: #292929;
  display: flex;
  width: 340px;
  margin: 30px;
  padding: 20px; }

.contact-icon {
  width: 70px;
  margin-left: 40px; }

.contact-info {
  color: #cacaca;
  margin: 65px 45px 65px;
  font-size: 20px;
  font-weight: 300; }
